<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>home</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="container mt-4">
        <h1><%= blog.title %></h1>
        <img src="<%= blog.CoverImageUrl %>" alt="">
        <p><%= blog.body %></p>
        <p>Author: <%= blog.createdBy.FullName %></p>
</div>

    <div class="container">
        <label for="exampleInputPassword1" class="form-label">Comments(<%= comments.length %>)</label>
        <% comments.forEach(comment => { %>
           <img src="<%= comment.createdBy.ProfileImageUrl %>" width="50px"> 
           <%= comment.createdBy.FullName %>
         <p><%= comment.content %></p>
        <% }) %>
        <% if (locals.user) { %>
            <form action="/blog/comment/<%= blog._id %>" method="post">
                <div class="mb-3">
                    
                    <input type="text" class="form-control" id="exampleInputPassword1" name="content">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
            </form>
        <% } %>
       
    </div>
    
   <%- include('./partials/script') %>    
</body>
</html>