<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Signin</title>
</head>
<body>
    <%- include('./partials/head') %>
    <%- include('./partials/navbar') %>
    <div class="container">
      <% if (locals.error) { %>
        <div class="alert alert-danger" role="alert">
          <%- locals.error %>
        </div>
      <% } %>
    <form action="/user/signup" method="post">
        <div class="mb-3">
            <label  class="form-label">Full Name</label>
            <input type="text" class="form-control" name="FullName">
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <%- include('./partials/script') %>
</body>
</html>